.dictionary{
    width: 200px;
    height: 155px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.paper{
    background-color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    transform: rotate(5deg);
    transition: 0.2s ease all;
    z-index: 1;
    top: 15px;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    z-index: 2;
    margin-top: auto;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.text{
    color: #fff;
    margin-top: 15px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
}
.header{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.words{
    font-size: 16px;
    text-align: center;
}
.footer{
    display: flex;
    gap: 15px;
    justify-content: end;
    margin: auto 15px 15px auto;
}
.footer svg{
    height: 22px;
    cursor: pointer;
}
.footer svg:hover{
    transform: scale(1.03)
}

.dictionary:hover .paper{
    transform: rotate(3deg);
    top: 10px;
}

@media screen and (max-width: 500px) {
    .dictionary__header{
        font-size: 16px;
    }
}

@media screen and (max-width: 300px) {
    .dictionary{
        width: 180px;
        height: 140px;
        border-radius: 16px;
    }
    .paper{
        width: 145px;
        height: 35px;
    }
    .content{
        height: 120px;
        margin-top: auto;
        border-radius: 0 0 16px 16px;
    }
    .words{
        font-size: 12px;
    }
}