.card {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    perspective: 1000px; /* 3D ефект */
    margin: 45px auto 0px auto;
    transition: 0.3s ease all;
}
.inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.card.rotate .inner {
    transform: rotateY(-180deg);
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.front {
    color: #fff;
}
.back {
    color: #fff;
    transform: rotateY(180deg);
}
.word {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    max-width: 100%;
    user-select: none;
}

.date{
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #EDEDED;
    left: 15px;
    font-weight: 500;
}
.card.rotate .date, .card.rotate .front .word{
    transition: 0.3s ease all;
    opacity: 0;
}