.header{
    display: flex;
    width: 70vw;
    margin: 0 auto 40px auto;
    gap: 15px;
    justify-content: end;
    flex-wrap: wrap;
}

@media screen and (max-width: 400px){
    .header{
        width: 90vw;
        justify-content: center;
    }
}

.icon{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: #EAEAEA 1px solid;
    border-radius: 100%;
    box-shadow: 0px 0px 1px #b5b5b5;
    cursor: pointer;
}
.icon:hover svg{
    width: 26px;
    height: 26px;
}
.icon svg{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 300px){
    .icon{
        width: 30px;
        height: 30px;
    }
    .icon svg{
        width: 22px;
        height: 22px;
    }
    .icon:hover svg{
        width: 24px;
        height: 24px;
    }
}

.input__wrapper{
    width: 210px;
    height: 35px;
    outline: #EAEAEA 1px solid;
    border-radius: 35px;
    box-shadow: 0px 0px 1px #b5b5b5;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 6px 10px;
}
.input{
    width: calc(100% - 10px);
    outline: none;
    border: none;
    margin-left: 30px;
}
.input__icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
}

@media screen and (max-width: 700px) {
    .input__wrapper{
        width: 180px;
    }
    .input{
        width: 130px;
    }
}
@media screen and (max-width: 350px) {
    .input__wrapper{
        width: 140px;
        border-radius: 25px;
    }
    .input__icon{
        display: none;
    }
    .input{
        width: 110px;
        margin-left: 5px;
    }
}