.orange .svg-gradient{
    stroke: #d2930c;
}
.red .svg-gradient{
    stroke: #d20c0c;
}
.green .svg-gradient{
    stroke: #0cd244;
}
.purple .svg-gradient{
    stroke: #be0cd2;
}
.sea .svg-gradient{
    stroke: #53c3c0;
}