.library__list{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 155px);
    justify-content: center;
    justify-items: center;
    align-items: end;
    gap: 25px 50px;
}
.dictionary{
    width: 200px;
    height: 155px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.delete{
    width: 150px !important;
    border-radius: 10px 10px 20px 20px;
    height: 135px;
    margin-top: 15px;
    z-index: 1000;
}
.delete__header{
    width: 180px;
    height: 15px;
    border-radius: 10px;
    transition: 0.3s ease all;
}
.delete:hover .delete__header{
    transform: translateY(-20px) rotate(10deg)
}
.delete__stick{
    height: 22px;
    width: 120px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 21px;
    margin: auto;
}
.delete__white{
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    width: 90px;
    height: 10px;
    position: relative;
    top: 10px;
}
.delete__content{
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete__line{
    height: 80px;
    width: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.dictionary:hover .dictionary__paper{
    transform: rotate(3deg);
    top: 10px;
}
.dictionary__paper{
    background-color: #fff;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    position: absolute;
    transform: rotate(5deg);
    transition: 0.2s ease all;
    z-index: 1;
    top: 15px;
}
.dictionary__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 130px;
    z-index: 2;
    margin-top: auto;
    border-radius: 0 0 20px 20px;
    align-items: center;
}
.dictionary__text{
    color: #fff;
    margin-top: 15px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    overflow-y: auto;
}
.dictionary__header{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}
.dictionary__words{
    font-size: 16px;
    text-align: center;
}
.dictionary__footer{
    display: flex;
    gap: 15px;
    justify-content: end;
    margin: auto 15px 15px auto;
}
.dictionary__footer svg{
    height: 22px;
    cursor: pointer;
}
.dictionary__footer svg:hover{
    transform: scale(1.03)
}
.dictionary.plus{
    cursor: pointer;
}
.dictionary__plus{
    margin: auto;
    width: 50px;
    cursor: pointer;
}

.empty{
    font-size: 20px;
    position: absolute;
    top: 120px;
    text-align: center;
}

@media screen and (max-width: 300px) {
    .dictionary{
        width: 180px;
        height: 140px;
        border-radius: 16px;
    }
    .dictionary__paper{
        width: 145px;
        height: 35px;
    }
    .dictionary__content{
        height: 120px;
        margin-top: auto;
        border-radius: 0 0 16px 16px;
    }
    .library{
        margin-top: 30px;
    }
    .delete__header{
        width: 170px;
        height: 13px;
    }
    .delete{
        width: 140px !important;
        border-radius: 8px 8px 16px 16px;
    }
}