.list{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 155px);
    justify-content: center;
    justify-items: center;
    align-items: end;
    gap: 25px 50px;
}
.delete{
    width: 150px !important;
    border-radius: 10px 10px 20px 20px;
    height: 135px;
    margin-top: 30px;
    z-index: 1000;
}
.delete__header{
    width: 180px;
    height: 15px;
    border-radius: 10px;
    transition: 0.3s ease all;
}
.delete:hover .delete__header{
    transform: translateY(-20px) rotate(10deg)
}
.delete__stick{
    height: 22px;
    width: 120px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    bottom: 21px;
    margin: auto;
}
.delete__white{
    background-color: #fff;
    border-radius: 20px;
    margin: auto;
    width: 90px;
    height: 10px;
    position: relative;
    top: 10px;
}
.delete__content{
    margin-top: 20px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line{
    height: 80px;
    width: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.plus{
    cursor: pointer;
}
.plus__icon{
    margin: auto;
    width: 50px;
    cursor: pointer;
}

.empty{
    font-size: 20px;
    position: absolute;
    top: 120px;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .dictionary__header{
        font-size: 16px;
    }
}

@media screen and (max-width: 300px) {
    .dictionary{
        width: 180px;
        height: 140px;
        border-radius: 16px;
    }
    .paper{
        width: 145px;
        height: 35px;
    }
    .dictionary__content{
        height: 120px;
        margin-top: auto;
        border-radius: 0 0 16px 16px;
    }
    .library{
        margin-top: 30px;
    }
    .delete__header{
        width: 170px;
        height: 13px;
        font-size: 14px;
    }
    .dictionary__words{
        font-size: 12px;
    }
    .delete{
        width: 140px !important;
        border-radius: 8px 8px 16px 16px;
    }
}