.header{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 60px;
    box-sizing: border-box;
}
.header__name{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
.header__name p{
    font-size: 24px;
    font-weight: 700;
}
.header__name span{
    font-size: 18px;
    font-weight: 600;
    color: #494949;
    margin-left: 10px;
}
.header__lang{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.header__right{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}
.header__theme{
    height: 25px;
    width: 50px;
    outline: none;
}
.header__theme:hover{
    opacity: 0.9;
}
.header__theme.blue{
    background: linear-gradient(90deg, #95BFFF, #5689FF);
}
.header__theme.red{
    background: linear-gradient(90deg, #f78aa7, #fe6c77);
}
.header__theme.orange{
    background: linear-gradient(45deg, #ffb974, #ff9327);
}
.header__theme.green{
    background: linear-gradient(45deg, #74c67e, #38c554);
}
.header__theme.purple{
    background: linear-gradient(45deg, #e9a2ff, #f373ff);
}
.header__theme.sea{
    background: linear-gradient(45deg, #76cdc7, #2fb9b9);
}

.dropdown {
    z-index: 1001;
}
.dropdown__content {
    max-width: max-content;
    min-width: max-content;
}

@media screen and (max-width: 700px) {
    .header__name{
        flex-direction: column;
        max-width: 200px;
        overflow: hidden;
    }
    .header__name p{
        font-size: 18px;
    }
    .header__name span{
        margin-left: 0;
        font-size: 12px;
    }
    .header__lang{
        font-size: 14px;
    }
    .header{
        padding-right: 30px;
    }
    .header__right{
        gap: 15px;
    }
    .header__theme{
        height: 22px;
        width: 44px;
    }
}
@media screen and (max-width: 400px) {
    .header{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header__name p{
        display: none;
    }
    .header__name span{
        font-size: 14px;
        overflow: hidden;
        text-align: center;
    }
}
@media screen and (max-width: 340px) {
    .header {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__name span{
        font-size: 12px;
    }
}
@media screen and (max-width: 280px) {
    .header {
        padding-left: 14px;
        padding-right: 14px;
    }
    .header__name span{
        font-size: 10px;
    }
}