.header{
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 60px;
    box-sizing: border-box;
}
.header__name{
    display: flex;
    align-items: center;
}
.header__name p{
    font-size: 24px;
    font-weight: 700;
}
.header__name span{
    font-size: 18px;
    font-weight: 600;
    color: #494949;
    margin-left: 10px;
}
.header__lang{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}
.header__right{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.header__theme{
    width: 100%;
    height: 20px;
}
.header__theme:hover{
    opacity: 0.9;
}
.header__theme.blue{
    background: linear-gradient(90deg, #95BFFF, #5689FF);
}
.header__theme.red{
    background: linear-gradient(90deg, #ffa9aa, #ff567b);
}
.header__theme.orange{
    background: linear-gradient(90deg, #ffdc95, #ff9c56);
}
.header__theme.green{
    background: linear-gradient(90deg, #7EF684, #36CE6B);
}
.header__theme.purple{
    background: linear-gradient(90deg, #ff95f6, #ff34e1);
}

.header .dropdown {
    z-index: 1001;
}
@media screen and (max-width: 700px) {
    .header__name{
        flex-direction: column;
        max-width: 200px;
        overflow: hidden;
    }
    .header__name p{
        font-size: 18px;
    }
    .header__name span{
        margin-left: 0;
        font-size: 12px;
    }
    .header__lang{
        font-size: 14px;
    }
    .header{
        padding-right: 30px;
    }
    .header__right{
        gap: 15px;
    }
}
@media screen and (max-width: 400px) {
    .header{
        padding-left: 20px;
        padding-right: 20px;
    }
    .header__name span{
        display: none;
    }
}