.word{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.text{
    overflow: hidden;
    max-width: 97%;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word__word{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.translations{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 150px;
    overflow-y: auto;
    max-height: 80px;
    margin-top: 5px;
}
.translation{
    font-size: 16px;
    color: #EDEDED;
    background-color: rgba(255,255,255,0.07);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: none;
    border-left: none;
    padding: 3px 6px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.footer{
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 15px 25px 15px;
    margin-top: auto;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.wordright{
    display: flex;
    gap: 8px;
    justify-content: end;
}
.wordright svg{
    height: 22px;
    cursor: pointer;
}
.wordright svg:hover{
    transform: scale(1.03)
}
.difficult{
    color: #fff;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.2);
    border-right: none;
    border-left: none;
    font-weight: 500;
    font-size: 11px;
    transition: 0.2s ease all;
    cursor: pointer;
    user-select: none;
}
.difficult.active{
    background-color: #fff;
    color: #000000;
}
@media (hover: hover) and (pointer: fine) {
    .difficult:hover{
        background-color: #fff;
        color: #000;
    }
  }
.date{
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #EDEDED;
    left: 15px;
}
.word.plus{
    cursor: pointer;
}
.word__plus{
    margin: auto;
    width: 50px;
    cursor: pointer;
}



@media screen and (max-width: 1600px) {
    .word{
        width: 180px;
        height: 180px;
    }
    .word__word{
        font-size: 20px;
    }
    .word__translate{
        font-size: 14px;
    }
    .word__footer{
        padding: 5px 15px 20px 15px;
    }
    .word__right svg{
        width: 18px;
        height: 18px;
    }
    .word__date{
        font-size: 10px;
    }
    .word__difficult{
        font-size: 10px;
        width: 55px;
        height: 15px;
    }
}