* {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
.gradient{
  background: linear-gradient(45deg, #95BFFF, #5689FF);
}
#root.red .gradient{
  background: linear-gradient(45deg, #f78aa7, #fe6c77);
}
#root.green .gradient{
  background: linear-gradient(45deg, #74c67e, #38c554);
}
#root.purple .gradient{
  background: linear-gradient(45deg, #e9a2ff, #f373ff);
}
#root.orange .gradient{
  background: linear-gradient(45deg, #ffb974, #ff9327);
}
#root.sea .gradient{
  background: linear-gradient(45deg, #76cdc7, #2fb9b9);
}


.content {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .back svg{
    width: 20px;
  }
  .back p{
    font-size: 14px;
  }
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.12rem;
  background-color: #000000;
}
.wrapper.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.12rem;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #ffffff;
}

.wrapper.dark ::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #131313;
}

* {
  scrollbar-width: thin; /* робить тонший скролбар */
  scrollbar-color: #3276ff #ffffff; /* thumb = чорний, track = білий */
}

html:has(.red), .red *{
  scrollbar-color: #ca4c4c #ffffff;
}
html:has(.green), .green *{
  scrollbar-color: #359440 #ffffff;
}
html:has(.purple), .purple *{
  scrollbar-color: #b14fce #ffffff;
}
html:has(.orange), .orange *{
  scrollbar-color: #e3732d #ffffff;
}
html:has(.sea), .sea *{
  scrollbar-color: #2e9f97 #ffffff;
}

#root.blue .gradient-hover:hover{
  background: linear-gradient(45deg, #7eb2ff, #5689FF);
}
#root.red .gradient-hover:hover{
  background: linear-gradient(45deg, #ff6c93, #fe6c77);
}
#root.orange .gradient-hover:hover{
  background: linear-gradient(45deg, #ffaf5e, #ff9327);
}
#root.green .gradient-hover:hover{
  background: linear-gradient(45deg, #4cb358, #38c554);
}
#root.purple .gradient-hover:hover{
  background: linear-gradient(45deg, #d289e8, #f373ff);
}
#root.sea .gradient-hover:hover{
  background: linear-gradient(45deg, #63bab4, #2fb9b9);
}

::selection {
  background-color: #000000;
  color: #ffffff !important;
  -webkit-text-fill-color: #fff !important;
}

/* Модифікатори */

.without-border{
  border: none !important;
  outline: none !important;
}
.without-cursor{
  cursor: default !important;
}