* {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
.gradient{
  background: linear-gradient(45deg, #95BFFF, #5689FF);
}
#root.red .gradient{
  background: linear-gradient(90deg, #f78aa7, #fe6c77);
}
#root.green .gradient{
  background: linear-gradient(45deg, #74c67e, #38c554);
}
#root.purple .gradient{
  background: linear-gradient(45deg, #e9a2ff, #f373ff);
}
#root.orange .gradient{
  background: linear-gradient(45deg, #ffb974, #ff9327);
}
#root.sea .gradient{
  background: linear-gradient(45deg, #76cdc7, #2fb9b9);
}


.content {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  margin-top: 60px;
  margin-bottom: 100px;
  flex-direction: column;
}
@media screen and (max-width: 500px) {
  .back svg{
    width: 20px;
  }
  .back p{
    font-size: 14px;
  }
  .content{
    margin-top: 50px;
  }
}

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 0.125rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.12rem;
  background-color: #000000;
}
.wrapper.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.12rem;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #ffffff;
}

.wrapper.dark ::-webkit-scrollbar-track {
  border-radius: 0.125rem;
  background-color: #131313;
}
* {
  scrollbar-width: thin; /* робить тонший скролбар */
  scrollbar-color: #0257ff #ffffff; /* thumb = чорний, track = білий */
}

.wrapper.dark * {
  scrollbar-color: #ffffff #131313; /* thumb = білий, track = темний */
}
::selection {
  background-color: #000000;
  color: #ffffff !important;
  -webkit-text-fill-color: #fff !important;
}

/* Модифікатори для Dropdown */

.without-border{
  border: none !important;
  outline: none !important;
}