.words__list{
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
    gap: 25px 20px;
}
.word{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.word__text{
    overflow: hidden;
    max-width: 97%;
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.word__word{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}
.word__translations{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 150px;
    overflow-y: auto;
    max-height: 80px;
    margin-top: 5px;
}
.word__translate{
    font-size: 16px;
    color: #EDEDED;
    background-color: rgba(255,255,255,0.07);
    border: 1px solid rgba(255,255,255,0.25);
    border-right: none;
    border-left: none;
    padding: 3px 6px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    overflow: hidden;
}

.word__footer{
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 5px 15px 25px 15px;
    margin-top: auto;
}
.word__left{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.word__difficult{
    color: #fff;
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.2);
    border-right: none;
    border-left: none;
    font-weight: 500;
    font-size: 11px;
    transition: 0.2s ease all;
    cursor: pointer;
    user-select: none;
}
.word__difficult.active{
    background-color: #fff;
    color: #000000;
}
@media (hover: hover) and (pointer: fine) {
    .word__difficult:hover{
        background-color: #fff;
        color: #000;
    }
  }
.word__date{
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    color: #EDEDED;
    left: 15px;
}
.word__right{
    display: flex;
    gap: 8px;
    justify-content: end;
}
.word__right svg{
    height: 22px;
    cursor: pointer;
}
.word__right svg:hover{
    transform: scale(1.03)
}
.word.plus{
    cursor: pointer;
}
.word__plus{
    margin: auto;
    width: 50px;
    cursor: pointer;
}
.words__games{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
@media screen and (max-width: 1600px) {
    .word{
        width: 180px;
        height: 180px;
    }
    .word__word{
        font-size: 20px;
    }
    .word__translate{
        font-size: 14px;
    }
    .word__footer{
        padding: 5px 15px 20px 15px;
    }
    .word__right svg{
        width: 18px;
        height: 18px;
    }
    .word__date{
        font-size: 10px;
    }
    .word__difficult{
        font-size: 10px;
        width: 55px;
        height: 15px;
    }
}
@media screen and (max-width: 900px) {
    .words__list{
        justify-content: center;
    }
}
@media screen and (max-width: 700px) {
    .wordsfind{
        width: 180px;
    }
    .wordsfind__input{
        width: 130px;
    }
}
@media screen and (max-width: 350px) {
    .wordsfind{
        width: 140px;
        border-radius: 25px;
    }
    .wordsfind svg{
        display: none;
    }
    .wordsfind__input{
        width: 110px;
        padding-left: 5px;
    }
}

/*   SENTENCES   */